.olli-dialog {
  border: 1px solid black;
  padding: 5px 10px;
}

.olli-dialog h2 {
  margin-bottom: 0;
}

.olli-dialog p {
  margin-top: 0;
}

.olli-dialog #olli-dialog-content:has(table) {
  max-height: 300px;
  overflow-y: auto;
}