.Select-Adapter-Name-Selected {
  /* background-color: lightblue; */
  font-weight: 700;
}

.Select-Adapter-Name {
  width: fit-content;
  padding: 3px;
  float: left;
}

.Select-Adapter-Name:hover {
  cursor: pointer;
}

.Container-Adapters {
  display: flex;
  width: 100%;
}

.Block-Example {
  display: none;
}

.Select-Vis-Enabled {
  display: block;
}
