body {
  font-size: 18px;
  padding: 0 1em;
  font-family: 'Cabin', sans-serif;
  margin-left: 20%;
  margin-right: 10%;
}

.Logo {
  width: 4em;
}

a[href] {
  text-decoration: none;
}

a {
  color: #41a3db;
}

a:hover {
  text-decoration: underline;
}

p {
  max-width: 800px;
}

code {
  white-space: pre-wrap;
}

.Code-Block {
  background-color: lightgray;
  border-radius: 15px;
}

.Links {
  float: right;
  width: 45%;
}

.Links > a {
  font-weight: 700;
  padding-right: 1%;
}

#VisLink {
  color: #e56612;
}

.Content {
  margin-top: 5%;
  height: fit-content;
}

.Gallery-Image {
  height: 150px;
  border: 1px solid black;
  float: left;
  margin-right: 3%;
}

.Container-Gallery {
  width: 100%;
  height: 165px;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 800px;
}

.Gallery-Link {
  float: left;
  padding-right: 1%;
}

.Gallery-Link:hover > img  {
  border: 2px solid #41a3db;
}

footer {
  margin-top: 60px;
  font-size: 0.8em;
}

* {
  scrollbar-width: thin;
  scrollbar-color: gray lightgray;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: lightgray;
}

*::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 20px;
  border: 3px solid lightgray;
}