body {
  font-size: 18px;
  padding: 0 1em;
  font-family: 'Cabin', sans-serif;
}

.Logo {
  width: 4em;
}

a[href] {
  text-decoration: none;
}

p {
  max-width: 800px;
}

code {
  white-space: pre-wrap;
}

.Nav {
  /* display: inline-block; */
  position: relative;
}

.Links {
  float: right;
  margin-right: 5%;
}

.Links > a {
  font-weight: 700;
}

.Content {
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 10%;
  height: fit-content;
}

.Gallery-Image {
  height: 150px;
  border: 1px solid black;
  /* width: 100%; */
  float: left;
  margin-right: 3%;
}

.Container-Gallery {
  width: 100%;
  height: 180px;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 800px;
}

.Gallery-Link {
  float: left;
}

footer {
  margin-top: 60px;
  font-size: 0.8em;
}