body {
  font-size: 18px;
  padding: 0 1em;
}

a[href] {
  text-decoration: none;
}

.Container-Gallery {
  /* text-align: center; */
}

.Gallery-Image {
  height: 150px;
  border: 1px solid black;
}

p {
  max-width: 800px;
}

code {
  white-space: pre-wrap;
}

.Nav {

}

footer {
  margin-top: 60px;
  font-size: 0.8em;
}